
/*HTML Tags*/

body{
	background:#424949;
	margin:auto;
	padding:5px;
	color:white;
}
/* Element Tags
. = Class
# = ID
*/

#inputCont{display:table;margin:auto;padding:5px;}

#maxCharControl{width:20px;!important}

#noticeArea{
	position:table;
	height:50px;
	width:100%;
	background-color:red;
	color:#FFFFFF;
	margin:auto;
	display:none;
}

#container{
	display:table;
	margin:auto;
}

#testP{
	display:block;
	border:2px solid #a1a1a1;
	border-radius: 10px;
	background: #FF0000;
	color:#FFFFFF;
	padding: 5px;
	max-width:500px;
	max-height:400px;
	word-wrap:break-word;
	overflow-x:auto;
	overflow-y:auto;
}